<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-header>
    <ion-card-title>Categorías</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-button expand="full" (click)="openCategoryModal()">Nueva Categoría</ion-button>

    <ion-list>
      <ion-item *ngFor="let category of categories">
        <ion-label>{{ category.name }}</ion-label>
        <ion-button fill="clear" size="small" (click)="editCategory(category)">Editar</ion-button>
        <ion-button fill="clear" size="small" color="danger" (click)="deleteCategory(category.id)">Eliminar</ion-button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input [(ngModel)]="newTaskTitle" placeholder="Nueva tarea"></ion-input>
    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select [(ngModel)]="categoryId" interface="popover" placeholder="Selecciona una categoría">
        <ion-select-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button (click)="addTask()" [disabled]="!newTaskTitle">Agregar</ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let task of tasks">
      <ion-checkbox slot="start" [(ngModel)]="task.completed" (ionChange)="toggleCompleted(task.id)"></ion-checkbox>
      <ion-label [class.completed]="task.completed">{{ task.title }}</ion-label>
      <p>{{ getCategoryName(task.categoryId) }}</p>
      <ion-button color="danger" fill="clear" slot="end" (click)="deleteTask(task.id)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>